{% extends 'heardle/include/base.html' %}
{% load static %}

{% block content %}
<script src="{%static 'js/homepage.js' %}"></script>

<div>
    <div class="homepage-title-container">
        <h1 class="homepage-title">Heardle</h1>
        <p class="homepage-description">Heardle for all of your favourite artists!<br>Currently under development so may have a lot of bugs e.g. doesn't work on phone and song titles may be wrong<br>May have slow loading time if it is the first time loading an artist for the day</p>
    </div>
    <div class="input-bar">
        <input type="text" placeholder="enter an artist..." class="homepage-input" onkeyup="searchFunction(event)">
        <div class="button" id="submit-homepage" onclick="submit()">submit</div>
    </div>
</div>

{% endblock %}